{% extends 'NomaNomaBundle::base.html.twig' %}

{% block content %}
<ul>
{% for node in nodes %}
<li>{{ node.getName() }}</li>
    {% for prop in node.getNodeProps() %}
        {{ prop.getNodePropDef().getName() }}: {{ prop.getContent() }}
    {% endfor %}
{% endfor %}
</ul>
<script>
    $(document).ready(function() {
        $('#nav-nodes').addClass('active');
    });
</script>
{% endblock %}
