parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     CHANGE_THIS
    database_user:     CHANGE_THIS
    database_password: CHANGE_THIS

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            CHANGE_THIS
