{% extends 'NomaNomaBundle::base.html.twig' %}

{% block content %}
<h1>Services</h1>
<form method="post" class="form-inline">
    <fieldset>
        {{ form_widget(form.content, { 'attr': {'placeholder': 'Service'} }) }}
        <input type="submit" value="Save" class="btn">
        {{ form_rest(form) }}
    </fieldset>
</form>

<table id="servicelist" class="table table-striped">
    <thead>
        <tr><th>Service</th><th>Nodes</th></tr>
    </thead>
    <tbody>
        {% if nodeprops %}
        {% for nodeprop in nodeprops%}
        <tr>
            <td>{{ nodeprop.getContent() }}</td>
            <td>
                {% for n in nodeprop.getNodes() %}
                {{ n.getName() }},
                {% endfor %}
            </td>
            {% endfor %}
        </tr>
        {% else %}
        <tr><td colspan="2">No services found</td></tr>
        {% endif %}
    </tbody>
</table>

<script>
    $(document).ready(function() {
        $('#nav-services').addClass('active');
    });
</script>
{% endblock %}
