{% extends 'NomaNomaBundle::base.html.twig' %}

{% block content %}
<h1>Services</h1>
<form method="post" class="form-inline">
    <fieldset>
        {{ form_widget(form.content, { 'attr': {'placeholder': 'Service'} }) }}
        <input type="submit" value="Save" class="btn">
        {{ form_rest(form) }}
    </fieldset>
</form>

<table id="servicelist" class="table table-striped">
    <thead>
        <tr><th>Service</th><th>Nodes</th></tr>
    </thead>
    <tbody id="servicelist_body">
    </tbody>
</table>
<script>
$(document).ready(function() {
    $('#nav-services').addClass('active');
    var cfg = {
        'base_url': '{{ path('noma_noma_homepage') }}'
    };
    NOMA.init(cfg);
    NOMA.services.init();
    NOMA.services.refresh();
});
</script>
{% endblock %}
